# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3

# Environments
.env
.venv
myvenv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


# For more info: https://github.com/github/gitignore/blob/master/Python.gitignore
